[submodule "font-awesome"]
	path = lib/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "lib/jquery"]
	path = lib/jquery
	url = https://github.com/jquery/jquery
[submodule "lib/leaflet"]
	path = vendor/leaflet
	url = https://github.com/Leaflet/Leaflet
[submodule "lib/autonumeric"]
	path = lib/autonumeric
	url = https://github.com/BobKnothe/autoNumeric
[submodule "lib/bootstrap"]
	path = vendor/bootstrap
url=https://github.com/glgc25/bootstrap
[submodule "vendor/tocify"]
	path = vendor/tocify
	url = https://github.com/gfranko/jquery.tocify.js.git
[submodule "vendor/lab-js"]
	path = vendor/lab-js
	url = https://github.com/getify/LABjs
[submodule "vendor/font-awesome"]
	path = vendor/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "vendor/leaflet-geosearch"]
	path = vendor/leaflet-geosearch
	url = https://github.com/smeijer/L.GeoSearch.git
[submodule "vendor/jquery-viewport"]
	path = vendor/jquery-viewport
	url = https://github.com/tuupola/jquery_viewport.git
