[submodule "font-awesome"]
	path = lib/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "lib/jquery"]
	path = lib/jquery
	url = https://github.com/jquery/jquery
[submodule "lib/leaflet"]
	path = vendor/leaflet
	url = https://github.com/Leaflet/Leaflet
[submodule "lib/bootstrap"]
	path = vendor/bootstrap
url=https://github.com/glgc25/bootstrap
[submodule "vendor/tocify"]
	path = vendor/tocify
	url = https://github.com/gfranko/jquery.tocify.js.git
[submodule "vendor/lab-js"]
	path = vendor/lab-js
	url = https://github.com/getify/LABjs
[submodule "vendor/font-awesome"]
	path = vendor/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "vendor/leaflet-geosearch"]
	path = vendor/leaflet-geosearch
	url = https://github.com/smeijer/L.GeoSearch.git
[submodule "vendor/jquery-viewport"]
	path = vendor/jquery-viewport
	url = https://github.com/tuupola/jquery_viewport.git
[submodule "vendor/unveil"]
	path = vendor/unveil
	url = https://github.com/luis-almeida/unveil
[submodule "vendor/snowstorm"]
	path = vendor/snowstorm
	url = https://github.com/scottschiller/Snowstorm.git
[submodule "vendor/autonumeric"]
	path = vendor/autonumeric
	url = https://github.com/BobKnothe/autoNumeric.git
[submodule "vendor/fixed-sticky"]
	path = vendor/fixedsticky
	url = https://github.com/filamentgroup/fixed-sticky
[submodule "vendor/leaflet-plugins"]
	path = vendor/leaflet-plugins
	url = https://github.com/shramov/leaflet-plugins.git
[submodule "vendor/leaflet-fullscreen"]
	path = vendor/leaflet-fullscreen
	url = https://github.com/Leaflet/Leaflet.fullscreen.git
[submodule "vendor/leaflet-loading"]
	path = vendor/leaflet-loading
	url = https://github.com/ebrelsford/Leaflet.loading
