[submodule "font-awesome"]
	path = lib/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "lib/jquery"]
	path = lib/jquery
	url = https://github.com/jquery/jquery
[submodule "lib/leaflet"]
	path = lib/leaflet
	url = https://github.com/Leaflet/Leaflet
[submodule "lib/autonumeric"]
	path = lib/autonumeric
	url = https://github.com/BobKnothe/autoNumeric
[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://github.com/twbs/bootstrap
