body {
    font-family: 'Open Sans',Tahoma,Verdana,Segoe,"Gill Sans","Gill Sans MT",Calibri,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background: url('bg_grad.png') left top repeat-x, url('triangles.svg') left top repeat;
    background-color: #edeeef;
    font-weight: normal;
}
.container {
    background-color: #ffffff;
    box-shadow: 0px -7px 7px #cbcbcb;
}
/*оформление панелей*/
.col-main > .panel > .panel-heading h3 {
    font-size: 27px;
    font-weight: 300;
    padding: 7px 0 9px 10px;
}

.col-mid > .panel > .panel-heading h3 {
    font-size: 25px;
    font-weight: 300;
    padding: 3px 0 5px 7px;
}

.sidebar > .panel > .panel-heading h3 {
    font-size: 25px;
    font-weight: 300;
    padding: 1px 0 3px 5px;
}

.inset > .panel > .panel-heading h3 {
    font-size: 20px;
    font-weight: 400;
    padding: 0px 0 2px 4px;
}

a.list-group-item {
    background-color: #fcfcfc;
}

h4.media-heading {
    font-size: 21px;
    color: #008BD5;
}

h4.list-group-item-heading {
    font-size: 17px;
    font-weight: 400;
    color: #1c457f;
}

p.media-text {
    color: #3d3d56;
    font-size: 14;
}

/* Свойства панелей */
/* Исправить отступ у row в панели */
.panel-body .row {
    margin-left: -15px;
    margin-right: -15px;
}

/* панель Фильмы */
.panel-movie {
    border: none;
}
.panel-movie > .panel-heading {
    color: #ffffff;
    background-color: #FF6F4D;
    background-image: ;
    background-position: right;
    background-repeat: no-repeat;
    border: none;
}
.panel-movie > .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
.panel-movie > .panel-footer + .panel-collapse .panel-body {
    border-bottom: none;
}
/* панель Новости */
.panel-prime {
    border: none;
}
.panel-prime > .panel-heading {
    color: #ffffff;
    background-color: #1FA6F2;
    border: none;
}
.panel-prime > .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
.panel-prime > .panel-footer + .panel-collapse .panel-body {
    border-bottom: none;
}
/* панель локальные новости */
.panel-local {
    border: none;
}
.panel-local > .panel-heading {
    color: #0d3349;
    background-color: #C7D1E0;
    border: none;
}
.panel-local > .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
.panel-local > .panel-footer + .panel-collapse .panel-body {
    border-bottom: none;
}
.panel-local a {
    color:  #0d3349;
}
/* панель Письмо */
.panel-mails {
    border: none;
}
.panel-mails > .panel-heading {
    color: #ffffff;
    background-color: #52BE7F;
    border: none;
}
.panel-mails > .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
.panel-mails > .panel-footer + .panel-collapse .panel-body {
    border-bottom: none;
}
/* панель Красноуфимск ТВ */
.panel-video {
    border: none;
}
.panel-video > .panel-heading {
    color: #ffffff;
    background-color: #FF6E0B;
    border: none;
}
.panel-video > .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
.panel-video > .panel-footer + .panel-collapse .panel-body {
    border-bottom: none;
}

/* панель Областные новости */
.panel-global {
    border: none;
}
.panel-global > .panel-heading {
    color: #ffffff;
    background-color: #52BE7F;
    border: none;
}
.panel-global > .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
.panel-global > .panel-footer + .panel-collapse .panel-body {
    border-bottom: none;
}
.panel-developments {
    border: none;
}
/*.panel-developments >*/
/*color: #fff;*/
/*background-color: #FF6473;*/
/*font-size: 34px;*/
/*padding: 10px 25px 16px;*/
/*margin-bottom: 18px;*/
/*line-height: 100%;*/
/* панель Поздравлений */
.panel-congrats {
    border: none;
}
.panel-congrats > .panel-heading {
    color: #ffffff;
    background-color: #FF794C;
    border: none;
}
.panel-congrats > .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
.panel-congrats > .panel-footer + .panel-collapse .panel-body {
    border-bottom: none;
}
/*Панель некролог*/
.panel-necro {
    border: none;
}
.panel-necro > .panel-heading {
    color: #ffffff;
    background-color: #707070;
    border: none;
}
.panel-necro > .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
.panel-necro > .panel-footer + .panel-collapse .panel-body {
    border-bottom: none;
}
/* панель Официальная информация */
.panel-official {
    border: none;
}
.panel-official > .panel-heading {
    color: #ffffff;
    background-color: #4A76BB;
    border: none;
}
.panel-official > .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
.panel-official > .panel-footer + .panel-collapse .panel-body {
    border-bottom: none;
}
/* панель Гость на сайте */
.panel-guest {
    border: none;
}

.panel-guest > .panel-heading {
    color: #ffffff;
    background-color: #00A1D3;
    border: none;
}
/*панель Ближайших событий*/
.panel-event > .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
.panel-event > .panel-footer + .panel-collapse .panel-body {
    border-bottom: none;
}
.panel-event {
    border: none;
}
.panel-event > .panel-heading {
    color: #ffffff;
    background-color: #52BE7F;
    border: none;
}
.panel-event > .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
.panel-event > .panel-footer + .panel-collapse .panel-body {
    border-bottom: none;
}
/* панель Важно */
.panel-notice {
    border: none;
}
.panel-notice > .panel-heading {
    color: #ffffff;
    background-color: #FF4B3D;
    border: none;
}
.panel-notice > .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
.panel-notice > .panel-footer + .panel-collapse .panel-body {
    border-bottom: none;
}
/* панель Голосование */
.panel-vote {
    border: none;
}
.panel-vote > .panel-heading {
    color: #ffffff;
    background-color: #3DB65A;
    border: none;
}
.panel-vote > .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
.panel-vote > .panel-footer + .panel-collapse .panel-body {
    border-bottom: none;
}
/* панель Комментарии */
.panel-comments {
    border: none;
}
.panel-comments > .panel-heading {
    color: #ffffff;
    background-color: #46A2F9;
    border: none;
}
.panel-comments > .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
.panel-comments > .panel-footer + .panel-collapse .panel-body {
    border-bottom: none;
}
/* панель Стандарт */
.panel-standard {
    border: none;
}
.panel-standard > .panel-heading {
    color: #ffffff;
    background-color: #FCFCFC;
    border: none;
    margin:  0;
    padding: 5px 0;
}
.panel-standard > .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
.panel-standard > .panel-footer + .panel-collapse .panel-body {
    border-bottom: none;
}
/* Тело панели */
.panel-body {
    background-color: #fcfcfc;
}

/* Подвал панели */
.panel-footer {
    padding: 3px 10px;
    background-color: #EDEDED;
    border-top: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.panel-footer a {
    color: #006048;
}
.panel-footer a:hover {
    color: forestgreen;
    text-decoration: none;
}
.panel-footer > .btn:hover {
    text-decoration: none;
}
.panel-footer > .btn-link:hover {
    text-decoration: none;
}

/* кнопки фильмов */
.btn-movie {
    color: #ffffff;
    background-color: #FF6F4D;
    border-color: #D7583C;
}
.btn-movie:hover,
.btn-movie:focus,
.btn-movie:active,
.btn-movie.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #EE6243;
    border-color: #EB6142;
}
/*список ближайших событий*/
.list-group-item {
    border: none;
}
.list-event {
    padding-left: 0;
    margin-bottom: 0;
    font-weight: 300;
    color: #0f0f0f;
}
.list-event-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 2px;
    background-color: #F5F7F7;
    border: none;
    text-decoration: none;
}
a.list-event-item{
    color: #3d3d3d;
}
a.list-event-item:hover,
a.list-event-item:focus {
    color: #0f0f0f;
    text-decoration: none;
    background-color: #fcfcfc;
    cursor: pointer;
}
.list-event-item-text {
    color: #202020;
    font-size: 12px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*список новостей*/
.list-prime {
    padding-left: 0;
    margin-bottom: 5px;
    font-weight: 300;
    color: #47475F;
    border: none;
}
.list-prime-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 2px;
    background-color: #EDEFEF;
    border: none;
}
.list-prime-item.active,
.list-prime-item.active:hover,
.list-prime-item.active:focus {
    z-index: 2;
    color: #47475F;
    background-color: #ffffff;
    /*border-color: #428bca;*/
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #0d3349;
    background-color: #f9f9f9;
}

/* Убрать закругления элементов */
/*.btn,*/ .navbar,
          .panel, .panel-heading,
          .nav-pills > li > a,
          .list-group-item {
              border-radius: 0 !important;
          }
/* Бэджи без фона */
.badge-clean {
    background-color: transparent;
    color: inherit;
    border: none;
}
.badge-pos {
    color: forestgreen;
}
.badge-neg {
    color: red;
}
/* уменьшенный отступ с низу понесли*/
.panel {
    margin-bottom: 15px;}

/* Переопредилить шрифт заголовков Bootstrap */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Open Sans',Tahoma,Verdana,Segoe,"Gill Sans","Gill Sans MT",Calibri,sans-serif;
    font-weight: normal;
}

/* Никаких отступов у заголовков панелей */
.panel-heading .lead,
.panel-heading h6,
.panel-heading h5,
.panel-heading h4,
.panel-heading h3,
.panel-heading h2,
.panel-heading h1 { margin: 0 1em 0 0; }
/* ...и у Navbar'ов в панели */
.panel-heading .navbar { margin: -10px -15px; }

/* Голубенький Navbar */
.navbar-blue {
    background-color: transparent;
    border: none;
}
.navbar-blue .navbar-brand {
    color: #ffffff;
}
.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-blue .navbar-text {
    color: #ffffff;
}
.navbar-blue .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #3276B1;
}
.navbar-blue .navbar-nav > .active > a,
.navbar-blue .navbar-nav > .active > a:hover,
.navbar-blue .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #3276B1;
}
.navbar-blue .navbar-nav > .disabled > a,
.navbar-blue .navbar-nav > .disabled > a:hover,
.navbar-blue .navbar-nav > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
}
.navbar-blue .navbar-toggle {
    border-color: #333333;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
    background-color: #333333;
}
.navbar-blue .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form {
    border-color: #101010;
}
.navbar-blue .navbar-nav > .open > a,
.navbar-blue .navbar-nav > .open > a:hover,
.navbar-blue .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #080808;
}
.navbar-blue .navbar-nav > .dropdown > a:hover .caret {
    border: 1px;
}
.navbar-blue .navbar-nav > .dropdown > a .caret {
    border: none;
}
.navbar-blue .navbar-nav > .open > a .caret,
.navbar-blue .navbar-nav > .open > a:hover .caret,
.navbar-blue .navbar-nav > .open > a:focus .caret {
    border: none;
}
h4 {
    margin-top: 5px;
    margin-bottom: 0;
    /*color: #008BD5;*/
    color: #202020;
    font-size: 18px;
}
h5 {
    margin-top: 5px;
    margin-bottom: 0;
    color: #202020;
    font-size: 18px;
}
h6 {
    margin-top: 5px;
    margin-bottom: 0;
    color: #202020;
    font-size: 14px;
    font-weight: 300;
}
img {
    margin-right: 5px;
}
/*анонс фильма*/
.movie-announce {
    margin-top: 15px;
    overflow: hidden;
}
.movie-announce__poster {
    width: 80px;
    height: 110px;
}
.movie-announce h4 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}
/* Показывать название при наведении */
.movie-announce:hover h4 { width: auto; margin-right: -50px; }
.movie-announce__age-restriction {
    position: absolute;
    top: 95px;
    left: 0px;
    display: inline-block;
    background-color: #9CA2A5;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin: 0;
    padding: 2px;
}
.movie-announce__age-restriction:after {
    content: "+";
}
.movie-announce__genres {
    display: inline-block;
    font-size: 12px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}
.movie-announce__genres a {
    color: #988D8D;
}
.movie-announce__rating {
    display: inline;
}

.movie-announce__price {
    font-size: 12px;
    font-weight: 300;
}
.movie-announce__session {
    font-size: 12px;
    font-weight: 300;
    overflow: hidden;
    max-width: 240px;
}
.news-slide {
    margin-top: 20px;
}
a.news-slide-block {
    color: #0f0f0f;
    text-decoration: none;
}
.date-vis {
    height: 0;
    width: 100%;
    overflow: visible;
    white-space: nowrap;
    position: relative;
    bottom: 30px;
}
.date-vis > * {
    height: 30px;
    padding: 5px;
    background-color: rgba(222,222,222,0.9);
    overflow: hidden;
}
.label-views {
    color: #4A76BB;
    padding-left: 10px;
}
.label-comment {
    color: #46A2F9;
    padding-left: 10px;
}
/*Ссылки в подвале ней*/
a.link-neutral {
    color: #0f0f0f;
    text-decoration: none;
}
a.link-neutral:hover,
a.link-neutral:focus {
    color: #3b437d;
}
.post-info {
    margin: 5px 0;
    padding: 2px 10px;
}
.sub-panel {
    padding: 7px 15px;
    margin: 0;
    color: #0f0f0f;
    background-color: #D8EEED;
}
.panel_events__time {
    display: inline-block;
    color: #0b1c14;
    font-weight: 600;
}
.name-guest {
    color: #1865B3;
    margin-top: 7px;
    padding: 0 20px;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 0;
}
.comment-link:hover {
    cursor: pointer;
}
.media-panel {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: none;
}
.media-hover:hover {
    z-index: 2;
    background-color: #f5f5f5;
}

.btn {
    border-radius: 3px;
}