@media (min-width: 1500px) {
    .container { width: 1500px !important; }
}

.ob-admin > .container { padding-top: 20px; }

.navbar { background-color: #ffffff !important; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); }

.navbar .container { box-shadow: none; }

.nav.navbar-nav { line-height: 50px; }

.navbar-brand { padding: 5px 15px; }

.navbar-brand img { height: 40px; }

.navbar-default .navbar-nav > li > a { color: #000; }

.navbar-abuse .badge { background-color: #ff1744; }

.navbar-default .navbar-nav .counter-no a { color: #b71c1c; }

.navbar-default .navbar-nav .counter-yes a { color: #1a237e; }

.navbar-default .navbar-nav .counter-edit a { color: #1b5e20; }

.navbar-default .navbar-nav .counter-no_paid a { color: #bf360c; }

.counter-no .fa { color: #ff1744; }

.counter-no:hover .fa { color: #d50000; }

.counter-no_paid .fa { color: #ff9100; }

.counter-no_paid:hover .fa { color: #ff6d00; }

.counter-yes .fa { color: #3d5afe; }

.counter-yes:hover .fa { color: #193bfc; }

.counter-edit .fa { color: #00c853; }

.counter-edit:hover .fa { color: #00ac47; }

.counter-archive .fa { color: #666; }

.counter-archive:hover a .fa { color: #333; }

.table-obs-admin article.ob { display: inline; }

.table-obs-admin article.ob a { cursor: pointer;}

.table-obs-admin article.ob .ob-meta,
.table-obs-admin article.ob p.ob-text-group { display: inline; }

.table-obs-admin .checked-no,
.table-obs-admin .checked-archive,
.table-obs-admin .checked-yes,
.table-obs-admin .checked-edit { position: relative;  cursor: pointer; }

.table-obs-admin .checked-no:hover:after,
.table-obs-admin .checked-archive:hover:after,
.table-obs-admin .checked-yes:hover:after,
.table-obs-admin .checked-edit:hover:after { cursor: pointer; font-size: .6em; position: absolute; right: -9px; bottom: 0; text-shadow: 0 0 5px #fff; }

.table-obs-admin .checked-no:hover:after,
.table-obs-admin .checked-archive:hover:after { color: #3d5afe; content: ""; }

.table-obs-admin .checked-yes:hover:after,
.table-obs-admin .checked-edit:hover:after { color: #666666; content: ""; }


.fa-archive { color: #666; }

.fa-times-circle { color: #ff1744; }

.fa-question-circle { color: #ff9100; }

.fa-check-circle { color: #00c853; }

.fa-star { color: #ff5722; }

.fa-play-circle,
.fa-play { color: #3d5afe; }

.table-obs-admin { width: 100%; margin-top: 5px; }

.table-obs-admin thead tr { background-color: #efefef; }

.table-obs-admin tbody .col-obs-date,
.table-obs-admin tbody .col-obs-rep,
.table-obs-admin tr > th { text-align: center; }

.table-obs-admin thead .col-obs-text { text-align: left; }

.table-obs-admin thead th { color: #666666; font-size: 18px; font-weight: 400; letter-spacing: 0.025em; text-transform: uppercase; }

.table-obs-admin thead .ob-counter { font-weight: 700; }

/*.table-obs-admin tbody tr > td:first-child { padding: 10px 10px 10px 15px; }*/

.table-obs-admin tbody .col-obs-status,
.table-obs-admin tbody .col-obs-date,
.table-obs-admin tbody .col-obs-rep { vertical-align: middle; }

.table-obs-admin tbody .col-obs-status { padding-left: 15px; text-align: left; }

.table-obs-admin .ob-meta { text-align: right; }

.table-obs-admin .is-business > .col-obs-text > article.ob > a > p.ob-text-group  { color: #ff5722; }

.table-obs-admin .status-archive > .col-obs-text > article.ob > a > p.ob-text-group { color: #888; }

.table-obs-admin .is-selected > td { background-color: #fff7a9; }

.table-obs-admin .is-selected:hover > td,
.table-obs-admin .is-selected:focus > td { background-color: #fff385; }

.table-obs-admin .is-super > td { background-color: #fff04e; border-top: 3px dashed #f6d01e; }

.table-obs-admin .is-super:hover > td,
.table-obs-admin .is-super:focus > td { background-color: #fbea2d; }

.ob-admin .popover-title { background-color: #eceff1; text-transform: uppercase; color: #666; padding-bottom: 12px; font-size: 16px; }

.ob-admin .popover-header .close { font-size: 30px; position: relative; right: 6px; }

.popover-content .table-obs .ob-category-name { display: none; }

.popover-content .table-obs .ob-thumb { width: 60px; }

a.tel { border-radius: 3px; padding: 0 6px 1px 5px; }

.col-obs-rep span { padding: 2px 6px; border-radius: 3px; }

.btn.rep-plus-few,
.tel.rep-plus-few,
.rep-plus-few .col-obs-rep span { background-color: #eeffd3; }

.btn.rep-plus-some,
.tel.rep-plus-some,
.rep-plus-some .col-obs-rep span { background-color: #ccff90; }

.btn.rep-plus-more,
.tel.rep-plus-more,
.rep-plus-more .col-obs-rep span { background-color: #80ff59; }

.btn.rep-plus-lots,
.tel.rep-plus-lots,
.rep-plus-lots .col-obs-rep span { background-color: #00c853; color: #fff; }

.btn.rep-minus-few,
.tel.rep-minus-few,
.rep-minus-few .col-obs-rep span { background-color: #ffecb3; }

.btn.rep-minus-some,
.tel.rep-minus-some,
.rep-minus-some .col-obs-rep span { background-color: #ffe180; }

.btn.rep-minus-more,
.tel.rep-minus-more,
.rep-minus-more .col-obs-rep span { background-color: #ffcdd2; }

.btn.rep-minus-lots,
.tel.rep-minus-lots,
.rep-minus-lots .col-obs-rep span { background-color: #ff5252; color: #fff; }

/*перенесено с ob.ksk66.ru из админки sad.php*/
.outputdays{font-weight: 600 ;}
.add-ob__right-input_phone .popover{
    max-width: none;
    left: -180px !important;
    width: 1200px;
}
.add-ob__right-input_phone .popover a{color: #000000 !important;}
.add_form {
    width: 622px;
    position: relative;
    left: 400px;
    background-color: #DADADA;

}

.add-ob__right-input_string {
    font-size: 14px;
    font-family: helvetica, tahoma, arial, sans-serif;
}

.add-ob__right-input {
    min-width: 150px;
    max-width: 150px;

}

.add-ob_form {
    width: 96%;
    margin: 0 2%;
    border-bottom: 2px dotted;
    overflow: hidden;
}

.add-ob__header {
    width: 85%;
    font-size: 18pt;
    text-align: center;
    float: left;
}

.add-ob__line {
    width: 100%;
    margin: 5px 0;
    text-align: right;
    overflow: hidden;
    line-height: 20px; /* TODO: replace with http://css-live.ru/tricks/novaya-alternativa-clearfix-u-i-overflowhidden.html  */
}

.add-ob__label {
    float: left;
    text-align: left;
}

.add-ob__text-container {
    position: relative;
    clear: both;
}

.add-ob__type-prefix {
    position: absolute;
    left: 2px;
    top: -2px;
    padding: 0.3em;
    font-weight: bold;
    border: 0 solid transparent;
}

.add-ob__journal td {
    margin-left: 5px;
}

.add-ob__text-input {
    height: 15em;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

}


.add-ob__line__price {
    overflow: hidden;
    transition: max-height 1s ease;
    -webkit-transition: max-height 1s ease;

}

.add-ob__right-input_phone {
    margin: 0 0 2px 2px;
    float: right;
}

.add-ob__right-input_phone:invalid,
.add-ob__text-input:invalid,
.add-ob__right__input__mail:invalid {
    color: red;
}

.preview div {
    float: left;
    width: 71px;
    height: 71px;
    margin-right: 4px;
    margin-bottom: 4px;
    cursor: pointer;

    text-align: center;
    vertical-align: middle;
    line-height: 71px;
    color: red;
    font-weight: bold;
    font-size: 0;
    text-shadow: 0 0 5px red;

    background: no-repeat center;
    background-size: contain;

    -webkit-transition: font-size 0.1s ease-out;
    transition: font-size 0.1s ease-out;

}

.preview div:first-child {
    width: 210px;
    height: 210px;
    line-height: 210px;
    font-weight: normal;
    padding-top: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.add-ob__right__input__price {
    text-align: right;
}

.add-ob__line__disput {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    float: right;
    transition: max-width 1s ease, margin 0.3s ease;
    -webkit-transition: max-width 1s ease, margin 0.3s ease;
    margin: 5px 0 0 5px;

}

.add-ob_phone-container {
    max-width: 60%;
    float: right;
}

h1 {
    font-size: 18px;
    font-weight: normal;
}

.add-ob__line-checked {
    width: 41%;
    text-align: left;
    float: right;
}

.rc img {
    margin-top: 5px;
}

.add-ob__note {
    width: 460px;
}


/* Скрывать значки статусов в админке, показывать только нужные */
.col-obs-status .fa,
.col-obs-text .icon-business { display: none; }

.status-no      > td > .icon-status-no,
.status-yes     > td > .icon-status-yes,
.status-edit    > td > .icon-status-edit,
.status-no_paid > td > .icon-status-no_paid,
.status-archive > td > .icon-status-archive,
.is-business    > td > .icon-business {
    display: inline-block;
}

.row-obs { transition: opacity 0.2s; }
.row-obs.loading { opacity: 0.2; }



/* Кнопка поиска */
#popover-search{ position: relative; right: 39px;}

/* Всплывающая форма поиска */
.popover-quick-search { max-width: 650px; }
.popover-quick-search .popover-content { overflow-y: scroll; max-height: 600px; padding: 0; }
.popover-quick-search .popover-content .table { min-width: 600px; }
.popover-quick-search .popover-content .table thead { display: none; }
.popover-quick-search .popover-content .table .col-obs-rep { display: none; }


/* Стили для панели редактирования лбъявления*/
.ob-admin h1.ob-edit-header { text-align: center; font-size: 19px; color: #263238; margin-bottom: 20px; }
.ob-admin h1.ob-edit-header .btn { margin-left: 10px; }

.ob-admin .panel.panel-default { margin-bottom: 15px; }

.ob-admin .panel-default .panel-body { background-color: #fafafa; }

.ob-admin .panel-default > .panel-heading { background-color: #eceff1; color: #546e7a; font-size: 15px; font-weight: 600; letter-spacing: 0.025em; text-transform: uppercase; }

.ob-admin #ob-text-input { padding-left: 75px; }

.ob-admin #ob-action-type { position: absolute; top: 6px; font-weight: 600; left: 22px; }

.ob-admin .ob-phone-input { margin-bottom: 10px; }

.ob-admin #ob-add-img { height: 220px; cursor: pointer; border: 3px dashed skyblue; border-radius: 10px; text-align: center; vertical-align: middle; width: 100%; }

.ob-admin #ob-add-img > input { visibility: hidden; }

.ob-admin #btn-ob-add-img { margin-top: 15px; text-transform: uppercase; letter-spacing: 0.025em; }

.ob-admin .thumb-radio:checked ~ span::before { content: "Главное фото"; }

.ob-admin .thumb-radio ~ span::before { content: "Сделать главным"; }

.ob-admin .panel-ob-img-editor .ob-thumb { width: 100%; }

.ob-admin .main-thumb-selector { display: inline-block; padding-top: 12px !important; }

.ob-admin .img-delete-group { display: inline-block; text-align: center; }

.ob-admin .img-delete-group > label { padding: 0; }

.ob-admin .img-delete-input { display: none; }

.ob-admin .img-delete-input ~ span::before { content: ""; font-family: FontAwesome; font-size: 1.5em; color: #777; }

.ob-admin .img-delete-input:checked ~ span::before { color: #ff6347; content: ""; }

/*.ob-admin .panel .table-striped > tbody > tr:nth-of-type(2n+1) { background-color: #efefef; }*/

.ob-admin .dialed-in-group { display: inline-block; padding-left: 15px; padding-bottom: 8px; padding-right: 20px; margin-left: 15px; background-color: rgb(236, 239, 241); }


.ob-admin .ob-up input:checked ~ label { color: #ff0000; }

.ob-admin #publish-in-newspaper { text-align: center; display: inline-block; width: 55px; padding: 5px; }

.ob-admin .radio-ob-status .input-group > .input-group-addon:first-child,
.ob-admin .radio-is-selected .input-group > .input-group-addon:first-child { background-color: transparent; border-color: transparent; padding-left: 19px; }

.ob-admin #buisness-options .radio > input,
.ob-admin #status-options .radio > input,
.ob-admin #selection-options .radio > input { position: relative; left: 23px; top: 1px; }

.ob-admin .radio-is-business input:checked ~ div,
.ob-admin .radio-ob-status input:checked ~ div,
.ob-admin .radio-is-selected input:checked ~ div { display: inline-block; }

.ob-admin .radio-is-business input ~ div,
.ob-admin .radio-ob-status input ~ div,
.ob-admin .radio-is-selected input ~ div { display: none; }

.ob-admin .radio-is-business input ~ label,
.ob-admin .radio-ob-status input ~ label,
.ob-admin .radio-is-selected input ~ label { border-top: 1px transparent; padding: 4px 10px 3px 25px; }

.ob-admin #radio-is-selected-1 ~ label { background-color: #FFF7A9; }

.ob-admin #radio-is-selected-2 ~ label { background-color: #FFF04E; border-top: 1px dashed #F6D01E; }