/*кастыли*/
nav.navbar { margin: 0 -10px; }

/**/
.products .wc-forward { display: none; }


/**/
#container { margin-left: -10px; margin-right: -10px; }

.list-days { margin-bottom: 0; }

.nav-tabs { border-bottom: none; display: none; }

.nav-tabs > li:first-child { margin-left: 10px; }

.nav-tabs > li { margin: 0 3px; }

.nav-tabs > li > a { border: 1px solid #fdd49c; border-bottom-color: transparent; }

.nav-tabs > li.active > a { background-color: #fdd49c; }

ul.list-stores { border-radius: 0; background-color: #fafafa; }

ul.list-stores > li.active > a { background-color: #ff875b; }

ul.list-stores > li > a { font-size: 17px; font-weight: 400; padding: 7px 14px 10px; }
#cart-bar-real.row { margin: 0; }
#cart-bar-real { background-color: #ffff8d; padding: 10px; }
#cart-bar-real > * { align-self: center; }
#cart-bar-real.flex-row { background-color: #789; padding: 10px; margin: 10px -10px; display: flex; }

#cart-bar-real .cart-view { display: flex; margin-bottom: 20px; }
#cart-bar-real .cart-description { margin-bottom: 20px; }
#cart-bar-real .cart-item { position: relative; margin-right: 25px; }
#cart-bar-real .cart-item img { width: 70px; }
#cart-bar-real .cart-item .cart-badges { position: relative; text-align: right; margin-top: -1px; white-space: nowrap; }
#cart-bar-real .cart-item .badge { color: #fff; font-size: 11px; }
#cart-bar-real .cart-item .badge-price { background-color: #7dba0b; border-radius: 0 0 3px 3px; padding: 4px 4px 4px 5px; }
#cart-bar-real .cart-item .badge-amount { background-color: #ff6347; border-radius: 0 0 3px 3px; padding: 4px 6px; text-shadow: 0 0 1px rgba(0, 0, 0, 0.18); }
#cart-bar-real .cart-item strong { font-weight: 700; padding-right: 2px; }
.restoraunt-info { margin: 0 10px; padding: 30px 30px 30px 20px; }

.restoraunt-logo { width: 180px; margin-right: 25px; }

.restoraunt-name { color: #ff1744; font-weight: 700; text-transform: uppercase; letter-spacing: 0.025em; margin-bottom: 10px; }



/* <editor-fold desc="Оформление категорий товаров"> */

.dishes-cat { position: relative; padding-bottom: 10px; }

.dishes-cat .cat-label { position: absolute; left: 10px; top: -8px; width: 41px; }

.dishes-heading {
    border-top: 2px dashed #ff6f00; color: #ff6f00;
    font-size: 25px; font-weight: 700; letter-spacing: 0.025em; margin: 0 0 12px; padding: 20px 50px 12px; text-transform: uppercase; }

.dishes-cat-recommend { background-color: #fbf0c6; }

.dishes-cat-recommend .dishes-heading {
    /*border-color: #ff6d00; color: #ff6d00; */
    padding-left: 65px; text-shadow: 0 0 10px rgba(255, 255, 255, 0.3); }

/* </editor-fold> */


.dishes .woocommerce { align-items: stretch; display: flex; flex-flow: row wrap; justify-content: flex-start; margin: 0; }

/* <editor-fold desc="Оформление ячейки товара"> */

.dishes.dishes-col-6 .dish-container,
.dishes .dish-container { width: 49%; margin: 0 0.5% 10px; position: relative; }

.dishes .dish-container .cat-label { position: absolute; left: 8px; top: -4px; width: 33px; height: auto !important; }

.dishes .dish { background-color: #ffffff; border: 1px solid #eaeaea; border-radius: 3px; padding: 15px 15px 0; width: 100%; position: relative; }

.dishes .dish img { max-width: 100%; display: block; margin: 0 auto; }

.dishes .thumb-container { background-position: center; background-repeat: no-repeat; background-size: cover; height: 120px; width: 100%; }

.dishes .dish .item-stuff { display: flex; flex-flow: column nowrap; justify-content: space-between; height: 175px; }

.dishes .dish h3.item-name { font-size: 1.05em; line-height: 1.4em; margin-bottom: 8px; margin-top: 12px; text-align: center; overflow: hidden; height: 2.8em; }

.dishes .dish .item-description { display: none; }

.dishes .dish .order-controls { padding-bottom: 15px; }

.dishes .dish .order-controls .order-row { align-items: center; display: flex; flex-direction: column; justify-content: space-between; }

.dishes .dish .order-controls .amount input { width: 34px; display: inline; text-align: center; }

.dishes .dish .order-controls .portion-type { color: rgb(102, 102, 102); border-bottom: 1px dashed rgb(187, 187, 187); margin-right: 0; margin-bottom: 10px; }

.dishes .dish .order-controls hr { width: 90%; border: 0; height: 1px; background-color: #eaeaea; display: none; }

.dishes .dish .order-controls .amount { margin-bottom: 10px; }

.dishes .dish .order-controls .price { color: #555; padding-left: 10px; padding-right: 10px; margin-bottom: 12px; }

.dishes.dishes-col-6 .dish h3.item-name { text-align: center; }

.dishes.dishes-col-6 .dish .order-controls .order-row { flex-direction: column; }

.dishes.dishes-col-6 .dish .order-controls .portion-type { margin-top: 7px; margin-right: 0; }

.dishes.dishes-col-6 .dish .order-controls hr { margin-bottom: 10px; }

.dishes.dishes-col-6 .dish .order-controls .price { margin-bottom: 7px; }

/* </editor-fold> */


/* <editor-fold desc="Оформление checkout'a"> */

.site-eda .dmbs-main { padding: 0; }

.site-eda .dmbs-main h2.page-header { border-bottom: 2px dashed #ff6347; color: #ff6347; font-size: 25px; font-weight: 700; text-transform: uppercase; padding: 3px 21px 15px; }

.site-eda .checkout { padding: 0 10px; }

/* </editor-fold> */

.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button {
    /*background-color: #00b0ff; border: 2px solid #00b0ff;*/
    background-color: #00c853; border: 2px solid #00c853;
    /*background-color: #64dd17; border: 2px solid #64dd17;*/
    /*background-color: #ff3d00; border: 2px solid #ff3d00;*/
    border-radius: 3px; text-transform: uppercase; font-weight: 600; padding: 8px 12px; text-shadow: none; }

.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page #content input.button:hover { background-color: #00e676; text-shadow: none; }

.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #content input.button.alt { background-color: #ff1744; border-color: #ff1744; text-shadow: none; }

.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page #content input.button.alt:hover { background-color: #f50057; text-shadow: none; }

.billing_city_select { padding: 6px 10px; }

.woocommerce form .form-row, .woocommerce-page form .form-row { padding: 0; }

.woocommerce table.shop_table, .woocommerce-page table.shop_table { border: 1px solid rgba(255, 111, 0, 0.5); }

.shop_table thead { background-color: #ff6f00; }

table > thead > tr > th { border-bottom: none; color: #fff; font-weight: 400 !important; letter-spacing: 0.025em; text-rendering: optimizelegibility; text-transform: uppercase; }

.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th,
.woocommerce-page table.shop_table tfoot td,
.woocommerce-page table.shop_table tfoot th { border-top: 1px dashed #cfd8dc; }

.woocommerce table.order_details tbody tr td,
.woocommerce table.order_details tbody tr th { border-top: none; }

.woocommerce table.order_details tbody tr:first-child td,
.woocommerce table.order_details tbody tr:first-child th { border-bottom: 1px dashed #cfd8dc; }

/* Стили для размера -sm- */
@media (min-width: 768px) {
    #cart-bar-real .cart-item .cart-badges { bottom: -7px; right: -10px; position: absolute; }
    #cart-bar-real .cart-item .badge-price { border-radius: 3px; margin-left: -2px; }
    #cart-bar-real .cart-item .badge-amount { border-radius: 3px; }
    .dishes-cat .cat-label { left: 23px; top: -10px; width: 51px; }

    .dishes-heading { font-size: 40px; margin-bottom: 20px; }

    .dishes-cat-recommend .dishes-heading { padding-left: 100px; }

    .dishes .dish h3.item-name { text-align: left; }

    .dishes .thumb-container { background-position: center; background-repeat: no-repeat; height: 178px; width: 237px; }

    .dishes .dish .item-stuff { display: flex; flex-flow: column nowrap; justify-content: space-between; height: 115px; }

    .dishes .dish .order-controls .amount { margin-bottom: 0; }

    .dishes .dish .order-controls .order-row { flex-direction: row; }

    .dishes .dish .order-controls hr { margin-bottom: 15px; margin-top: 10px; display: block; }

    .dishes .dish .order-controls .portion-type { margin-right: 7px; margin-bottom: 0; }

    .dishes .dish .order-controls .price { margin-bottom: 0; padding-left: 0; }


    .dishes.dishes-col-6 .dish-container { width: 32%; margin: 0 0.66666666% 20px; height: 325px; }

    .dishes.dishes-col-6 .thumb-container { height: 110px; width: 147px; }

    .dishes.dishes-col-6 .dish .item-stuff { height: 165px; }

    .dishes.dishes-col-6 .dish .order-controls .amount { margin-bottom: 10px; }

    .dishes.dishes-col-6 .dish .order-controls .price { padding-left: 10px;}

    .dishes.dishes-col-6 .order-controls hr { margin-top: 2px; }

    .dishes.dishes-col-6 .dish .order-controls .portion-type { margin-top: 0; margin-bottom: 10px; }
}

/* Стили для размера -md- */
@media (min-width: 992px) {
    #cart-bar-real { display: flex; }
    #cart-bar-real .cart-description,
    #cart-bar-real .cart-view { margin-bottom: 0; }
    .dishes { margin: 0 10px; }

    .dishes .thumb-container { height: 142px; width: 189px; }

    .dishes .dish .item-stuff { height: 105px; display: block; }

    .dishes .dish-container { width: 24%; margin: 0 0.5% 20px; }

    .dishes .dish:hover { box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); position: absolute; z-index: 2; }

    /*.dishes .dish:hover .item-stuff { height: 205px; }*/

    .dishes .dish .item-description p { font-size: 0.9em; line-height: 1.4em; color: #777; height: 0; margin-bottom: 0; padding-top: 10px; }

    .dishes .dish:hover .item-description { display: block; }

    .dishes .dish:hover .item-description p { height: auto; }

    .dishes .dish .order-controls .portion-type { margin-left: 0; padding-left: 0; }

    .dishes.dishes-col-6 .thumb-container { height: 86px; width: 115px; }

    .dishes.dishes-col-6 .dish .item-stuff { height: 165px; }

    .dishes.dishes-col-6 .dish-container { width: 16%; margin: 0 0.33333333% 20px; height: 305px; }

    .dishes.dishes-col-6 .dish .item-description p { margin: 0; }

    /*.dishes.dishes-col-6 .dish:hover .item-stuff { height: 320px; }*/

    .dishes.dishes-col-6 .dish:hover .item-description p { margin-bottom: 15px; padding-top: 0; }

    .dishes .dish .order-controls .price { padding: 0; }

    .dishes .dish .order-controls .amount { padding-right: 6px; }
}

/* Стили для размера -lg- */
@media (min-width: 1200px) {

    .dishes .thumb-container { height: 178px; width: 237px; }

    .dishes.dishes-col-6 .thumb-container { height: 110px; width: 147px; }

    /*.dishes.dishes-col-6 .dish:hover .item-stuff { height: 305px; }*/
}

