/*кастыли*/
nav.navbar { margin: 0 -10px; }

#user-panel { display: none; }

.header-logo-col:first-child .header-logo #sublogo { left: 65px; }

/**/
.products .wc-forward { display: none; }


/**/
#container { margin-left: -10px; margin-right: -10px; }

.list-stores { background-color: #f8f8f8 !important; margin-bottom: 0; }

.shop-link { border-bottom: 5px solid transparent; padding-bottom: 5px; padding-top: 7px; text-align: center; }

.shop-link.active { background-color: #fff; border-bottom-color: #ff1744; }

.shop-link.active:hover,
.shop-link.active:focus,
.shop-link:hover,
.shop-link:focus { background-color: #fff; color: #f50057; }


/*.nav-tabs { border-bottom: none; display: none; }

.nav-tabs > li:first-child { margin-left: 10px; }

.nav-tabs > li { margin: 0 3px; }

.nav-tabs > li > a { border: 1px solid #fdd49c; border-bottom-color: transparent; }

.nav-tabs > li.active > a { background-color: #fdd49c; }

ul.list-stores { border-radius: 0; background-color: #f8f8f8; margin-bottom: 0; }

ul.list-stores > li { padding: 0 !important; margin-left: 0 !important; }

ul.list-stores > li.active > a { background-color: #ff875b; }

ul.list-stores > li > a { font-size: 17px; font-weight: 400; padding: 10px 20px; border-radius: 0 !important; color: #c51162; }

ul.list-stores > li.active > a:hover,
ul.list-stores > li.active > a:focus,
ul.list-stores > li > a:hover,
ul.list-stores > li > a:focus { background-color: #fff; color: #f50057; }

ul.list-stores > li > a > img { width: 150px; }*/


.woocommerce { color: #37474f; }

#cart-bar #cart-bar-real .cart-subtotal { font-size: 14px; font-weight: 700; margin-bottom: 6px; text-align: center; padding-top: 6px; padding-bottom: 4px; }

#cart-bar .checkout-button { font-size: 12px; margin-top: 5px; padding: 8px 6px; }

#cart-bar #cart-bar-real > div:nth-child(1) { padding: 0; }

/*#cart-bar #cart-bar-real > div:nth-child(3),
#cart-bar #cart-bar-real > div:nth-child(1) { display: none; }*/

#cart-bar #cart-bar-real > div:nth-child(2) { padding: 0; position: relative; }

#cart-bar #cart-bar-real > div:nth-child(2) > div.shutter { content: ""; height: 100%; width: 50px; pointer-events: none; position: absolute; right: 0; top: 0; z-index: 5;
    background-image: -webkit-linear-gradient(right, rgba(255, 249, 196, 1), rgba(255, 249, 196, 0)));
    background-image: -moz-linear-gradient(right, rgba(255, 249, 196, 1), rgba(255, 249, 196, 0)));
    background-image: -ms-linear-gradient(right, rgba(255, 249, 196, 1), rgba(255, 249, 196, 0)));
    background-image: -o-linear-gradient(right, rgba(255, 249, 196, 1), rgba(255, 249, 196, 0)));
    background-image: linear-gradient(to left, rgba(255, 249, 196, 1), rgba(255, 249, 196, 0));
}

#cart-bar #cart-bar-real > div:nth-child(4) { padding-right: 0; padding-left: 0; }

.product-thumbnail { padding: 3px; text-align: center; }

#cart-bar-real.row { margin: 0; }

#cart-bar-real { background-color: rgba(255, 249, 196, 0.95); padding: 10px; }

#cart-bar-real > * { align-self: center; }

#cart-bar-real.flex-row { background-color: #789; padding: 10px; margin: 10px -10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }

#cart-bar-real .cart-view { margin-bottom: 0; overflow-x: auto; overflow-y: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }

#cart-bar-real .cart-description { margin-bottom: 0; }

.cart_item { position: relative; background-color: #fff; border-radius: 3px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

#cart-bar-real .cart-item { position: relative; margin-right: 18px; }

#cart-bar-real .cart_item .product-remove { background-color: #ff5252; border-radius: 0 3px 0 0; position: absolute; top: 0; right: 0; padding: 0 5px; z-index: 10; }

#cart-bar-real .cart_item .product-remove a { color: #fff; }

#cart-bar-real .cart_item .product-remove a:hover,
#cart-bar-real .cart_item .product-remove a:focus { text-decoration: none; color: #263238; }

#cart-bar-real .cart-item img { width: 70px; }

#cart-bar-real .cart-item .cart-badges { position: static; text-align: right; margin-top: -1px; white-space: nowrap; }

#cart-bar-real .cart-item .badge { color: #1b5e20; font-size: 11px; }

#cart-bar-real .cart-item .badge-price { background-color: #ccff90; border-radius: 0 0 3px 0; padding: 4px 4px 4px 5px; }

#cart-bar-real .cart-item .badge-amount { background-color: #a7ffeb; border-radius: 0 0 0 3px; padding: 4px 6px; }

#cart-bar-real .cart-item strong { font-weight: 700; padding-right: 2px; }

#cart-bar-real .actions { text-align: center; }

.cart.shop_table { position: relative; }

.shop_table .item-variation { display: inline-block; background-color: #a7ffeb; padding: 1px 5px 3px; border-radius: 3px; font-size: 90%; }

.restoraunt-info { margin: 0 10px; padding: 30px 30px 30px 20px; }

.vendor-status-group { background-color: #ffe0b2; border-radius: 6px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17); margin-top: 5px; }

.vendor-status { border-bottom: 1px solid #ffffff; border-radius: 5px 5px 0 0; font-size: 1.2em; font-weight: 700; letter-spacing: 0.025em; padding: 4px 0 5px; text-align: center; text-transform: uppercase; color: #ffffff; }

.vendor-status.vendor-status-closed { background-color: #ff5252; }

.vendor-status.vendor-status-opened { background-color: #00e676; }

.vendor-working-hours-group { font-size: 0.85em; padding-bottom: 2px; text-align: center; }

.restoraunt-logo { width: 180px; margin-right: 25px; }

.restoraunt-name { color: #ff1744; font-weight: 700; text-transform: uppercase; letter-spacing: 0.025em; margin-bottom: 10px; }


.side_nav-container { position: fixed; margin-left: -230px; top: 200px; width: 220px; background-color: rgba(255, 255, 255, 0.8); display: none; }

.side_nav-container.tocify .nav-list > li > a { padding: 8px 15px 9px; }

.tocify-header > .tocify-item > a { color: #666; }

.tocify-header > .tocify-item > a:hover { color: #4E342E; background-color: #FFE57F; }

.tocify-header > .active.tocify-item > a { color: #004D40; background-color: #64FFDA; }

.side_nav-container > .list-group { text-align: right; font-weight: 600; margin-bottom: 0; padding-bottom: 0; }

.side_nav-container .list-group-item { background-color: #fafafa; padding: 6px 12px; width: 210px; color: #FF6F00; text-transform: uppercase; letter-spacing: 0.04em; opacity: .8; }

.side_nav-container .list-group-item:hover,
.side_nav-container .list-group-item:focus { background-color: #f5f5f5; color: #ff1744; }

.side_nav-container .affix-home { padding: 5px 0 6px; color: #666; letter-spacing: .017em }

.side_nav-container .affix-home:before,
.side_nav-container .affix-home:after { content: ""; display: inline-block; font-family: FontAwesome; padding: 0 5px; }

.side_nav-container .affix-home:hover { text-decoration: none; color: #4E342E; background-color: #FFE57F; }

.woocommerce-checkout .side_nav-container { display: none; }


/* <editor-fold desc="Оформление категорий товаров"> */

.dishes-cat { position: relative; padding-bottom: 10px; }

.dishes-cat .cat-label { position: absolute; left: 10px; top: -8px; width: 41px; }

.dishes-cat .btn-collapse { background-color: #ccff90; color: #33691e; letter-spacing: 0.025em; margin: 0 -10px; padding: 12px; text-align: center; text-transform: uppercase; cursor: pointer; }

.dishes-cat .btn-collapse .fa { margin: 0 10px; }

.dishes-cat .btn-collapse-text:before { content: "Свернуть"; }

.dishes-cat .collapsed .btn-collapse-text:before { content: "Развернуть"; }

.page-header,
.dishes-heading {
    border-top: 2px dashed #ff6f00; color: #ff6f00;
    font-size: 25px; font-weight: 700; letter-spacing: 0.025em; margin: 0 0 12px; padding: 20px 50px 12px; text-transform: uppercase; }

.woocommerce-checkout .page-header { margin: 0 -10px 12px; }

.dishes-cat-recommend { background-color: #fbf0c6; }

.dishes-cat-recommend .dishes-heading {
    /*border-color: #ff6d00; color: #ff6d00; */
    padding-left: 65px; text-shadow: 0 0 10px rgba(255, 255, 255, 0.3); }

/* </editor-fold> */


.dishes .woocommerce { align-items: stretch; margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;

    /*transition: max-height 4s ease 0s;*/
    max-height: 5000px; }

.dishes.collapsed .woocommerce { max-height: 435px; }

/*.dishes-cat.pizza .dishes.collapsed .woocommerce  { max-height: 430px; }*/

.dishes.collapsed .woocommerce > .dish-container:nth-child(n+5) { display: none; }


.tag-container { position: absolute; top: -3px; left: 10px; z-index: 5; color: #fff; }
.tag-container .tag { font-family: FontAwesome; border-radius: 0 0 5px 5px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13); display: inline-block; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.07); background-color: grey; cursor: default; margin-right: 1px; font-size: 1.3em; }
.tag-container .tag-in-cart { padding: 2px 3px 2px 1px; background-color: rgb(0, 200, 83); content: ""; }
.tag-container .tag-favorite { padding: 2px 3px 2px 2px; background-color: rgb(255, 196, 0); content: ""; }
.tag-container .tag-recommendation { padding: 2px; background-color: rgb(0, 229, 255); content: ""; }


/* <editor-fold desc="Оформление ячейки товара"> */

.dishes.dishes-col-6 .dish-container,
.dishes .dish-container { width: 49%; margin: 0 0.5% 10px; position: relative; }

.dishes .dish-container .cat-label { position: absolute; left: 8px; top: -4px; width: 33px; height: auto !important; }

.dishes .dish { box-shadow: 0 1px 3px rgba(69, 90, 100, 0.05); background-color: #ffffff; border: 1px solid #eaeaea; border-radius: 3px; padding: 15px 15px 0; width: 100%; position: relative; transition: box-shadow 0.25s ease 0s; }

.dishes .dish img { max-width: 240px; display: block; margin: 0 auto; width: 100%; }

.dishes .thumb-container { background-position: center; background-repeat: no-repeat; background-size: cover; height: 120px; width: 100%; }

.dishes .dish .item-stuff {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-wrap: nowrap;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 195px; }

.dishes .dish h3.item-name { font-size: 1.05em; line-height: 1.4em; margin-bottom: 0; margin-top: 12px; text-align: center; overflow: hidden; height: 4.8em; }

.dishes.dishes-col-6 .dish-container.variable h3.item-name { height: 1.4em; white-space: nowrap; text-overflow: ellipsis; }

.single_variation_wrap .single_variation { display: none; }

.dishes .single_variation_wrap { display: block !important; }

.dishes .dish .item-description { display: none; }

.dishes .dish .order-controls { padding-bottom: 15px; }

.dishes .dish .order-controls .order-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    text-align: center; }

.dishes .dish .order-controls .amount input { display: inline; text-align: center; }

.dishes .dish .order-controls .portion-type { color: rgb(102, 102, 102); border-bottom: 1px dashed rgb(187, 187, 187); margin-right: 0; margin-bottom: 10px; }

.dishes .dish .order-controls hr { width: 90%; border: 0; height: 1px; background-color: #eaeaea; display: none; }

.dishes .dish .order-controls .amount { margin-bottom: 10px; }

.dishes .dish .order-controls .price { color: #555; padding-left: 10px; padding-right: 10px; margin-bottom: 12px; }

.woocommerce div.product span.price,
.woocommerce div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce #content div.product p.price,
.woocommerce-page div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page #content div.product p.price { font-size: 1em; }


.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images { float: none; width: auto; margin-bottom: 0; }


.woocommerce div.product div.images img,
.woocommerce #content div.product div.images img,
.woocommerce-page div.product div.images img,
.woocommerce-page #content div.product div.images img { box-shadow: none; }

.dishes.dishes-col-6 .dish h3.item-name { text-align: center; }

.dishes.dishes-col-6 .dish .order-controls .order-row {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.dishes.dishes-col-6 .dish .order-controls .portion-type { margin-top: 7px; margin-right: 0; }

.dishes.dishes-col-6 .dish .order-controls hr { margin-bottom: 10px; }

.dishes.dishes-col-6 .dish .order-controls .price { margin-bottom: 7px; }


.dishes .dish-container.variable .item-stuff { height: 195px; }

.dishes .dish-container.variable .order-controls { text-align: center; }

.dishes .dish-container.variable .order-controls table.variations { margin-bottom: 0; }

.dishes .dish-container.variable .order-controls table.variations td { border-top: none; padding: 0; }

.dishes .dish-container.variable .order-controls table.variations td select { padding: 5px 10px; margin-bottom: 10px; margin-top: 5px; width: 100%; }

.dishes .dish-container.variable .order-controls .quantity { margin-bottom: 10px; }

/* </editor-fold> */


/* <editor-fold desc="Оформление checkout'a"> */

.site-eda .dmbs-main { padding: 0; }

.site-eda .dmbs-main h2.page-header { border-bottom: 2px dashed #ff6347; color: #ff6347; font-size: 25px; font-weight: 700; text-transform: uppercase; padding: 3px 21px 15px; }

.site-eda .checkout { padding: 0 10px; }

/* </editor-fold> */


.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline { color: #FF6F00; }

abbr.required { color: #f50057; }

.has-warning .form-control { border-color: #FFC400; }

.has-warning .form-control:focus { border-color: #FFC400; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #FFC400; }

.has-warning .btn-default { border-color: #FFC400; background-color: #FFD740; }

.has-warning .btn-default:hover,
.has-warning .btn-default:focus { background-color: #FFE57F; }

.address-field .input-group { padding: 0 10px; }

.address-field .btn-default { padding: 5px 12px; }


.woocommerce #payment,
.woocommerce-page #payment { background: #fff3e0; }

.woocommerce #payment ul.payment_methods,
.woocommerce-page #payment ul.payment_methods { border-bottom: 1px solid #ffcc80; }

.woocommerce #payment div.form-row,
.woocommerce-page #payment div.form-row { border-top: none; }

.woocommerce #payment div.payment_box,
.woocommerce-page #payment div.payment_box { background: #ffc107; color: #3e2723; text-shadow: none; padding: 1em 3%; }

.woocommerce #payment div.payment_box:after,
.woocommerce-page #payment div.payment_box:after { border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffc107; }

.woocommerce form .form-row.validate-required.woocommerce-invalid input.input-text:focus,
.woocommerce-page form .form-row.validate-required.woocommerce-invalid input.input-text:focus { box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 23, 68, 0.6); }

.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button {
    /*background-color: #00b0ff; border: 2px solid #00b0ff;*/
    background: #ffea00; border: 2px solid #ffea00;
    /*background-color: #64dd17; border: 2px solid #64dd17;*/
    /*background-color: #ff3d00; border: 2px solid #ff3d00;*/

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); color: #795548; border-radius: 3px; text-transform: uppercase; font-weight: 600; padding: 8px 12px; text-shadow: none; transition: box-shadow 0.5s ease 0s;  }

.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page #content input.button:hover { background: #ffff8d; text-shadow: none; }

.woocommerce a.button:active,
.woocommerce button.button:active,
.woocommerce input.button:active,
.woocommerce #respond input#submit:active,
.woocommerce #content input.button:active,
.woocommerce-page a.button:active,
.woocommerce-page button.button:active,
.woocommerce-page input.button:active,
.woocommerce-page #respond input#submit:active,
.woocommerce-page #content input.button:active { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.woocommerce a.button.add_to_cart_button,
.woocommerce-page a.button.add_to_cart_button { color: #fff; background: #00c853; border: 2px solid #00c853; }

.woocommerce a.button.add_to_cart_button:focus,
.woocommerce a.button.add_to_cart_button:hover,
.woocommerce-page a.button.add_to_cart_button:focus,
.woocommerce-page a.button.add_to_cart_button:hover { background: #00e676; text-shadow: none; }

.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page #content input.button.alt { color: #fff; background: #ff1744; border-color: #ff1744; text-shadow: none; }

.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page #content input.button.alt:hover { background: #f50057; text-shadow: none; }

.woocommerce-checkout .woocommerce form .form-row-first,
.woocommerce-checkout.woocommerce-page form .form-row-first { float: none; width: auto; }

.woocommerce-checkout .woocommerce form.login .form-row-first,
.woocommerce-checkout.woocommerce-page form.login .form-row-first { float: left; width: 47%; }

.woocommerce form #order_comments_field.form-row, .woocommerce-page form #order_comments_field.form-row { margin: 0 -10px; padding: 0 0 20px; }

.woocommerce form .form-row label, 
.woocommerce-page form .form-row label { line-height: 1.4em; }

.billing_city_select { padding: 6px 10px; }

.woocommerce table.shop_table, .woocommerce-page table.shop_table { border: 1px solid rgba(255, 111, 0, 0.5); }

.shop_table thead { background-color: #ff6f00; }

table > thead > tr > th { border-bottom: none; color: #fff; font-weight: 400 !important; letter-spacing: 0.025em; text-rendering: optimizelegibility; text-transform: uppercase; }

.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th,
.woocommerce-page table.shop_table tfoot td,
.woocommerce-page table.shop_table tfoot th { border-top: 1px dashed #cfd8dc !important; }

.woocommerce table.shop_table td,
.woocommerce-page table.shop_table td { border-top: 1px dashed #cfd8dc; }

.woocommerce table.shop_table tr:first-child td,
.woocommerce-page table.shop_table tr:first-child td { border-top: none; }

.woocommerce.alert { margin: 20px; position: relative; }

.woocommerce-checkout .woocommerce.alert { margin: 20px 10px; }

.cart.shop_table .alert { box-shadow: 0 1px 3px rgba(69, 90, 100, 0.25) !important; position: absolute; right: 0; z-index: 5; }

.cart.shop_table .alert .btn-action { margin-top: 10px; }

.cart.shop_table .alert + .alert { top: 220px; }

.woocommerce .alert { box-shadow: 0 2px 2px rgba(0,0,0,0.09); }

ul.woocommerce.alert { list-style: none; padding-left: 20px; }

ul.woocommerce.alert-danger { background-color: #ffebee; }

.checkout ul.woocommerce.alert-danger { margin: 10px; }

.woocommerce form.checkout .alert { margin: 15px 5px; }

.alert-success { background-color: #ccff90; border: medium none; border-radius: 0; -webkit-animation: fade-out 12s 0s 1 forwards; animation: fade-out 12s 0s 1 forwards; }

@-webkit-keyframes fade-out {
    0%   { opacity: 0; }
    5%   { opacity: 1; }
    90%  { opacity: 1; }
    99%  { opacity: 0; transform: translate(0,0)}
    100% { opacity: 0; transform: translate(0,-9999px); }
}

@keyframes fade-out {
    0%   { opacity: 0; }
    5%   { opacity: 1; }
    90%  { opacity: 1; }
    99%  { opacity: 0; transform: translate(0,0)}
    100% { opacity: 0; transform: translate(0,-9999px); }
}

.alert-warning { background-color: #ffff8d; }

.woocommerce form.login,
.woocommerce form.checkout_coupon,
.woocommerce form.register,
.woocommerce-page form.login,
.woocommerce-page form.checkout_coupon,
.woocommerce-page form.register { margin: 10px 15px 20px; }

.customer_details dd,
.addresses address { margin-bottom: 15px; padding: 13px 10px; }

.customer_details dd { border-bottom: 1px dashed #78909c; }

.checkout-description { background-color: #fafafa; border: 1px solid #b0bec5; border-radius: 3px; margin: 10px; padding: 15px 20px; }

.order-description { padding: 10px 10px 0; }

.order-description ul.order_details { padding-left: 0; }

.order-description ul.order_details li { margin-bottom: 10px; }

.order-description .col-xs-12 { padding: 0; }

/*Оформлени модального окна*/

.modal .modal-header { background-color: #ffd740; padding: 5px !important; }

.modal .modal-body h3.product_title { color: #ff6f00; font-weight: 600; font-size: 21px; }

.modal .modal-body p { color: #455a64; }

/*.woocommerce #content div.product p.price,*/
/*.woocommerce-page #content div.product p.price,*/
.woocommerce .modal div.product p.price,
.woocommerce-page .modal div.product p.price { color: #37474f; font-size: 2em; font-weight: 600; margin-bottom: 15px; }


/* Стили для размера -sm- */
@media (min-width: 768px) {
    /*#cart-bar-real .cart-item .cart-badges { bottom: -7px; right: -10px; position: absolute; }*/

    .cart.shop_table .alert + .alert { top: 170px; }

    .checkout-description { margin: 20px; padding: 20px 30px 15px; }

    .order-description { padding: 10px 20px 0; }

    .order-description ul.order_details { padding-left: 30px; margin-top: 20px; }

    .order-description ul.order_details li { margin-bottom: 0; }

    .order-description .col-xs-12 { padding: 0 10px; }

    .order-description p { padding-left: 10px; }

    #cart-bar-real .cart-item .badge-price { border-radius: 0; margin-left: -2px; }

    #cart-bar-real .cart-item .badge-amount { border-radius: 0; }

    #cart-bar #cart-bar-real .cart-subtotal { font-size: 20px; padding: 0; }

    #cart-bar .checkout-button { font-size: inherit; margin-top: inherit; padding: 8px 12px; }

    .dishes-cat .cat-label { left: 23px; top: -10px; width: 51px; }

    .page-header,
    .dishes-heading { font-size: 40px; margin-bottom: 20px; }

    .dishes-cat-recommend .dishes-heading { padding-left: 100px; }

    .dishes.collapsed .woocommerce { max-height: 375px; }

    .dishes.dishes-col-6.collapsed .woocommerce { max-height: 360px; }

    /*.dishes-cat.pizza .dishes.collapsed .woocommerce { max-height: 370px; }*/

    /*.dishes-cat.pizza .dishes.dishes-col-6.collapsed .woocommerce { max-height: 345px; }*/

    .dishes.dishes-col-6.collapsed .woocommerce > .dish-container:nth-child(n+5) { display: block; }

    .dishes.dishes-col-6.collapsed .woocommerce > .dish-container:nth-child(n+7) { display: none; }

    .dishes .dish h3.item-name { text-align: left; }

    .dishes .thumb-container { background-position: center; background-repeat: no-repeat; height: 178px; width: 237px; }

    .dishes .dish .item-stuff {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-flex-wrap: nowrap;
        -webkit-flex-flow: column nowrap;
        -moz-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        height: 145px; }

    .dishes .dish .order-controls .amount { margin-bottom: 0; }

    .dishes .dish .order-controls .order-row {
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row; }

    .dishes .dish .order-controls hr { margin-bottom: 15px; margin-top: 10px; display: block; }

    .dishes .dish .order-controls .portion-type { margin-right: 7px; margin-bottom: 0; }

    .dishes .dish .order-controls .price { margin-bottom: 0; padding-left: 0; }


    .dishes.dishes-col-6 .dish-container { width: 32%; margin: 0 0.66666666% 20px; height: 345px; }

    .dishes.dishes-col-6 .thumb-container { height: 110px; width: 147px; }

    .dishes.dishes-col-6 .dish .item-stuff { height: 175px; }

    .dishes.dishes-col-6 .dish .order-controls .amount { margin-bottom: 10px; }

    .dishes.dishes-col-6 .dish .order-controls .price { padding-left: 10px;}

    .dishes.dishes-col-6 .order-controls hr { margin-top: 2px; }

    .dishes.dishes-col-6 .dish .order-controls .portion-type { margin-top: 0; margin-bottom: 10px; }


    .dishes .dish-container.variable .item-stuff { height: 145px; }

    .dishes.dishes-col-6 .dish-container.variable .item-stuff { height: 175px; }

    .dishes .dish-container.variable .order-controls .price-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-bottom: 5px; }

    .dishes .dish-container.variable .order-controls .price { padding-top: 10px; padding-left: 10px; }

    .dishes .dish-container.variable .order-controls table.variations { display: inline; width: auto; }

    .dishes .dish-container.variable .order-controls table.variations td { padding: 0; }

    .dishes .dish-container.variable .order-controls table.variations td select { width: 150px; }

    .dishes .dish-container.variable .order-controls .price-wrap,
    .dishes .dish-container.variable .order-controls .variations_button {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between; }

    .dishes .dish-container.variable .order-controls .quantity { margin-bottom: 0; align-self: center; margin-left: 5px; width: 70px; }

    .dishes .dish-container.variable .order-controls .quantity .qty { width: 50px; }

    .dishes .dish-container.variable .order-controls .add_to_cart_button { width: 150px; }


    .dishes.dishes-col-6 .dish-container.variable .order-controls .price-wrap { margin-bottom: 0; }

    .dishes.dishes-col-6 .dish-container.variable .order-controls .price { padding-left: 0; }
    .dishes.dishes-col-6 .dish-container.variable .order-controls table.variations td select { width: 130px; }

    .dishes.dishes-col-6 .dish-container.variable .order-controls .quantity { margin-left: 0; }

    .dishes.dishes-col-6 .dish-container.variable .order-controls .add_to_cart_button { width: 120px; }


    .dishes-cat .btn-collapse { margin: 0; }
}

/* Стили для размера -md- */
@media (min-width: 992px) {
    #cart-bar-real {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex; }

    .woocommerce #cart-bar #cart-bar-real > div:nth-child(3),
    .woocommerce #cart-bar #cart-bar-real > div:nth-child(1) { display: inline-block; }

    .dishes { margin: 0 10px; }


    .dishes.collapsed .woocommerce { max-height: 310px; }

    .dishes.dishes-col-6.collapsed .woocommerce { max-height: 330px; }

    /*.dishes-cat.pizza .dishes.collapsed .woocommerce { max-height: 335px; }*/

    /*.dishes-cat.pizza .dishes.dishes-col-6.collapsed .woocommerce { max-height: 350px; }*/

    .dishes.collapsed .woocommerce > .dish-container:nth-child(n+5) { display: block; }

    .dishes.collapsed .woocommerce > .dish-container:nth-child(n+9) { display: none; }

    .dishes.dishes-col-6.collapsed .woocommerce > .dish-container:nth-child(n+7) { display: block; }

    .dishes.dishes-col-6.collapsed .woocommerce > .dish-container:nth-child(n+13) { display: none; }


    .dishes .thumb-container { height: 142px; width: 189px; }

    .dishes .dish .item-stuff { height: 120px; display: block; }

    .dishes .dish-container { width: 24%; margin: 0 0.5% 20px; }

    .dishes .dish:hover { box-shadow: 0 3px 5px rgba(69, 90, 100, 0.45); position: absolute; z-index: 2; }

    /*.dishes .dish:hover .item-stuff { height: 205px; }*/

    .dishes .dish .item-description { font-size: 0.9em; line-height: 1.4em; color: #777; height: 0; }

    .dishes .dish:hover .item-description { display: block; }

    .dishes .dish:hover .item-description { height: auto; }

    .dishes .dish .order-controls .portion-type { margin-left: 0; padding-left: 0; }

    .dishes.dishes-col-6 .thumb-container { height: 86px; width: 115px; }

    .dishes.dishes-col-6 .dish h3.item-name { height: 5.6em; }

    .dishes.dishes-col-6 .dish .item-stuff { height: 195px; }

    .dishes.dishes-col-6 .dish-container { width: 16%; margin: 0 0.33333333% 20px; height: 310px; }

    .dishes.dishes-col-6 .dish .order-controls .price { padding-left: 0;}

    .dishes.dishes-col-6 .dish .item-description p { margin: 0; padding: 0 }

    /*.dishes.dishes-col-6 .dish:hover .item-stuff { height: 320px; }*/

    .dishes.dishes-col-6 .dish:hover .item-description { margin-bottom: 15px; padding-top: 0; }

    .dishes .dish .order-controls .price { padding: 0; }

    .dishes .dish .order-controls .amount { padding-right: 0; }

    .dishes .dish .order-controls .quantity { width: 50px; }

    .dishes .dish .order-controls .qty { width: 30px;}

    .dishes.dishes-col-6 .dish .order-controls .quantity { width: 60px; }

    .dishes.dishes-col-6 .dish .order-controls .qty { width: 40px;}


    .dishes .dish-container.variable .item-stuff { height: 120px; }

    .dishes .dish-container.variable .order-controls { padding-top: 5px; }

    .dishes .dish-container.variable .order-controls .price-wrap { margin-bottom: 0; }

    .dishes .dish-container.variable .order-controls .price { padding-left: 0; }

    .dishes .dish-container.variable .order-controls table.variations td select { width: 90px; }

    .dishes .dish-container.variable .order-controls .quantity { margin-left: 0; width: 60px; }

    .dishes .dish-container.variable .order-controls .quantity .qty { width: 40px; }

    .dishes .dish-container.variable .order-controls .add_to_cart_button { width: auto; }

    .dishes .dish-container.variable .item-description { padding-bottom: 5px; }

    .dishes.dishes-col-6 .dish-container.variable { height: 335px; }

    .dishes.dishes-col-6 .dish-container.variable .item-stuff { height: 195px; }

    .dishes.dishes-col-6 .dish-container.variable .order-controls { text-align: center }

    .dishes.dishes-col-6 .dish-container.variable .order-controls .price-wrap,
    .dishes.dishes-col-6 .dish-container.variable .order-controls .variations_button {
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }

    .dishes.dishes-col-6 .dish-container.variable .order-controls table.variations { display: table; width: 100%; }

    .dishes.dishes-col-6 .dish-container.variable .order-controls table.variations td select { width: 120%; }

    .dishes.dishes-col-6 .dish-container.variable .order-controls .quantity { margin: 0 auto 10px; }

    .dishes.dishes-col-6 .dish-container.variable .item-description p { padding: 0; margin: 0 }


    .dishes-cat .btn-collapse { margin: 0 -10px; }
}

/* Стили для размера -lg- */
@media (min-width: 1200px) {

    .side_nav-container { display: block; }

    .dishes.collapsed .woocommerce { max-height: 350px; }

    .dishes.dishes-col-6.collapsed .woocommerce { max-height: 355px; }

    /*.dishes-cat.pizza .dishes.collapsed .woocommerce { max-height: 370px; }*/

    /*.dishes-cat.pizza .dishes.dishes-col-6.collapsed .woocommerce { max-height: 375px; }*/


    .dishes .thumb-container { height: 178px; width: 237px; }

    .dishes.dishes-col-6 .thumb-container { height: 110px; width: 147px; }

    .dishes.dishes-col-6 .dish-container { height: 360px; }

    .dishes .dish .order-controls .quantity { width: 60px; }

    .dishes .dish .order-controls .qty { width: 40px;}


    .dishes .dish-container.variable .order-controls table.variations td select { width: 140px; }

    .dishes .dish-container.variable .order-controls .quantity { width: 70px; }

    .dishes .dish-container.variable .order-controls .quantity .qty { width: 50px; }

    .dishes .dish-container.variable .order-controls .add_to_cart_button { width: 140px; }


    .dishes.dishes-col-6 .dish-container.variable { height: 335px; }

    .dishes.dishes-col-6 .dish-container.variable .order-controls .price { padding-left: 0; }

    .dishes.dishes-col-6 .dish-container.variable .order-controls table.variations { margin: 0 auto; }

    .dishes.dishes-col-6 .dish-container.variable .order-controls table.variations td select { width: 151px; }

    .dishes.dishes-col-6 .dish-container.variable .order-controls .quantity { width: 60px; }

    .dishes.dishes-col-6 .dish-container.variable .order-controls .quantity .qty { width: 40px; }

    .dishes.dishes-col-6 .dish-container.variable .order-controls .add_to_cart_button { margin: 0 auto; }

    /*.dishes.dishes-col-6 .dish:hover .item-stuff { height: 305px; }*/
}
/* с сайта eda style.css*/
.products .wc-forward { display: none; }
.wp-polls .pollbar {
    margin: 1px;
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    background: #68d9a6;
    border: 1px solid red;
}

/*#shipping_method input, label[for=shipping_method_0_flat_rate] { display: none; }*/
.alert .wc-forward, .added_to_cart.wc-forward { display: none !important; }
.woocommerce-result-count, .woocommerce-ordering { display: none; }
td.product-thumbnail img { height: 40px; width: auto; }
.affixed-placeholder { min-height: 129px; width: 100%; }
.affix { z-index: 10; top: 0; }
.list-stores { background-color: white; }
.alert-success { float: right; }
/* .affix-container -- плавающая панель во всю ширину Bootstrap */
.affix-container.affix { width: 100%; z-index: 10; }
@media (min-width: 768px) {
    .affix-container.affix { width: 740px; }
}
@media (min-width: 992px) {
    .affix-container.affix { width: 960px; }
}
@media (min-width: 1200px) {
    .affix-container.affix { width: 1160px; }
}
/* Административная панель wordpress закрывает affix*/
body.admin-bar .affix { margin-top: /*46px;*/ 0; }
@media (min-width: 768px) {
    body.admin-bar .affix { margin-top: 32px; }
}
.dmbs-footer .shop-link.active {
    border-top-color: #ff1744 !important;
    border-bottom-color: white !important;
    border-top: 5px solid;
}
