/*кастыли*/
nav.navbar { margin: 0 -10px !important; }

/*окончание кастылей*/

.site-taxi p { margin-bottom: 15px; text-align: left; }

.site-taxi .taxi-content p:last-of-type { margin-bottom: 30px; }

.site-taxi form { padding: 10px 20px; }

.site-taxi .taxi-header {  background-color: #161616; }

.site-taxi .taxi-header,
.site-taxi .taxi-header a { color: #ffd401; }

.site-taxi .taxi-header p { font-size: 16px; font-weight: 600; margin-bottom: 5px; padding: 0 30px; }

.site-taxi .col-description h3 { font-size: 21px; font-weight: 600; margin-top: 0; margin-bottom: 25px; padding: 0 20px; text-align: center; }

.site-taxi .col-description ul { margin-bottom: 30px; }

.site-taxi .taxi-phone { padding: 20px; }

.site-taxi .taxi-phone h2 { font-size: 40px; font-weight: 700; margin-bottom: 0; }

.site-taxi .taxi-content .taxi-phone h2 { margin-top: 0; font-size: 53px; }

.site-taxi .taxi-content .taxi-phone h2 .fa { font-size: 35px; padding-right: 3px; }

.site-taxi .taxi-phone a { text-decoration: underline; }

.site-taxi .taxi-phone h2 a,
.site-taxi .taxi-phone h2 a:hover,
.site-taxi .taxi-phone h2 a:focus {text-decoration: none;}

.site-taxi .taxi-phone h2 .fa { font-size: 27px; }

.site-taxi .taxi-logo { padding: 20px 60px 40px; }

.site-taxi .taxi-logo img { max-width: 250px; }

.site-taxi .panel-default .panel-heading,
.site-taxi .taxi-content { background-color: #ffd401; }

.site-taxi .taxi-content { position: relative; }

.site-taxi .taxi-content .taxi-phone a { color: #161616; }

.site-taxi .taxi-content .taxi-phone a:hover,
.site-taxi .taxi-content .taxi-phone a:hover { color: #333; }

.site-taxi .taxi-content p { padding: 0 20px; }

.site-taxi img[src*="taxi-squares.svg"] { width: 100%; position: relative; bottom: 0; margin: -7px 0; }

.site-taxi .panel-group .panel + .panel { margin-top: 0; }

.site-taxi .panel-default > .panel-heading { padding: 8px 22px 13px; }

.site-taxi .panel-default .panel-title a { border-bottom: 1px dashed #161616; font-size: 14px; }

.site-taxi .panel-default .panel-title a:hover,
.site-taxi .panel-default .panel-title a:focus { text-decoration: none; }

.site-taxi .panel-default .panel-body { background-color: #fff; }

.site-taxi .panel-default .panel-collapse { border-bottom: none; }

#collapseDepartureOptions .fa-clock-o { color: #a4a4a4; padding-left: 7px; position: relative; top: 1px; left: 0; }

#collapseDepartureOptions .btn-default:hover,
#collapseDepartureOptions .btn-default:focus { border-color: #e9e9e9; background-color: #e9e9e9; }

#collapseDepartureOptions .btn-default:active { border-color: #ffc600; background-color: #ffc600; }

.site-taxi .form-horizontal,
.site-taxi .form-inline { padding: 10px 0; }

.form-horizontal .control-label { padding-left: 0; }

.site-taxi .form-inline .form-group { display: inline-block; }

.site-taxi .form-inline .form-group .form-control { display: inline; margin-bottom: 0; width: 100px; }

.site-taxi .form-group { margin: 0; position: relative; }

.site-taxi .form-group input { margin-bottom: 10px; border-radius: 6px; }

.site-taxi .form-group .fa { position: absolute; left: 10px; bottom: 8px; font-size: 17px; color: #4c4c4c; }

.site-taxi #clientPhone .fa { font-size: 34px; left: 17px; }

.site-taxi #adressFrom input,
.site-taxi #adressTo input { padding-left: 32px; }

.site-taxi #clientPhone input { text-align: center; padding: 10px 20px 11px; height: 51px; }

.site-taxi #clientPhone input::-webkit-input-placeholder { text-align: center; font-size: 18px; }
.site-taxi #clientPhone input::-moz-placeholder { text-align: center; font-size: 21px; }
.site-taxi #clientPhone input:-moz-placeholder { text-align: center; font-size: 21px; }
.site-taxi #clientPhone input:-ms-input-placeholder { text-align: center; font-size: 21px; }

.site-taxi button.btn-block { background-color: #161616; text-transform: uppercase; color: #ffd401; padding: 15px 0; }

.site-taxi .desciption-title { padding-left: 20px; color: #322a00; text-transform: uppercase; font-size: 20px; font-weight: 700; }

.site-taxi .desciption-title + p { color: #282100; }

.site-taxi .promo-labels { padding: 0 20px;  margin-bottom: 20px; }

.site-taxi .promo-labels img { width: 100%; margin-bottom: 20px; }

.taxi-content > div { padding: 10px 0; }

footer { background-color: #161616; margin: 0 -10px !important; background-image: none; }

footer h5,
footer h4 a,
footer p { color: #736212; }

footer a:focus,
footer a:hover { color: #fff001; }

footer h4 { color: #ba9b0f; }

footer h3,
footer a,
footer h4 a:focus,
footer h4 a:hover { color: #ffd401; }

#openstat2173092 { opacity: 0.5; }

.panel-group { margin-bottom: 0 !important; }

/* Стили для размера -sm- */
@media (min-width: 768px) {

    .site-taxi .taxi-header { position: relative; }

    .site-taxi .taxi-header .taxi-logo { padding: 60px 40px 40px 60px; }

    /*.site-taxi .taxi-header .taxi-phone { padding-left: 0; }*/

    .site-taxi .taxi-header .taxi-phone { padding: 0; bottom: 0; }

    .site-taxi .taxi-header .taxi-phone > h2 { position: absolute; left: 40px; margin-top: 0; font-size: 25px; z-index: 3; }

    .site-taxi .taxi-header .taxi-phone > h2 .fa { font-size: 20px; }

    .site-taxi .taxi-header .taxi-phone > span { position: absolute; bottom: -23px; left: 160px; z-index: 3; }

    .site-taxi .taxi-header .divider { background-color: #ffd401; border-color: #161616; border-image: none; border-style: solid; border-width: 15px 0 20px; height: 100%; opacity: 0.3; position: absolute; width: 1px; }

    .site-taxi .taxi-header .col-description { height: 217px; }

    .site-taxi .col-description h3 { margin-top: 30px !important; margin-bottom: 0; }

    .site-taxi .col-description ul { padding-left: 75px; }

    .site-taxi .taxi-header p { margin-bottom: 4px; padding-top: 15px; padding-right: 0; padding-left: 60px;}

    .site-taxi .panel-default > .panel-heading { background-color: #ffb401; }

    .taxi-content > div { padding: 10px; }

    .form-taxi-order-flow { border-radius: 10px; margin: 22px 2.5% 22px 0; padding: 10px 0 !important; width: 47.5%; background-color: #ffb401; }

    .form-taxi-order-flow .desciption-title {margin-top: 5px !important;}

    .desciption-title {margin-top: 35px !important;}

    .form-horizontal .control-label { padding-left: 5px; text-align: left; }
}

/* Стили для размера -md- */
@media (min-width: 992px) {

    .site-taxi .col-description h3 { padding: 0 60px; margin-top: 35px !important; }

    .site-taxi .taxi-header p { padding-left: 120px; padding-top: 20px; }

    .site-taxi .col-description ul { padding-left: 135px; }

    .site-taxi .taxi-header .taxi-phone > h2 { left: 125px; bottom: -36px; }

    .site-taxi .taxi-header .taxi-phone > span { left: 242px; bottom: -32px; }

    .site-taxi img[src*="taxi-squares.svg"] { margin: -9px 0; }

    .form-taxi-order-flow { width: 30.8333%; }

    .desciption-title {margin-top: 15px !important;}
}

/* Стили для размера -lg- */
@media (min-width: 1200px) {

    .site-taxi .col-description h3 { padding: 0 120px; margin-top: 45px !important; }

    .site-taxi .taxi-header p { padding-left: 180px; }

    .site-taxi .col-description ul { padding-left: 195px; }

    .site-taxi .taxi-header .taxi-phone > h2 { left: 180px; bottom: -39px; }

    .site-taxi .taxi-header .taxi-phone > span { left: 300px; bottom: -36px; }

    .site-taxi img[src*="taxi-squares.svg"] { margin: -11px 0; }
}