/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body { height: 100%; width: 100%; font-size: 18px; line-height: 1.618rem;  background-color: #fff; display: flex; flex-direction: column; }

.container { display: flex; height: calc(100% - 4.045rem); }

.tickercontainer { background-color: #f0f0f0; height: 3.236rem; line-height: 3.236rem; margin-bottom: 0.809rem; overflow: hidden; white-space: nowrap; /* width: calc(100% - 1rem); */ }
ul.newsticker { position: relative; list-style-type: none; padding: 0; margin: 0; transition: all 0s linear; }
ul.newsticker li { float: left; margin: 0; padding-right: 3.236rem; font-size: 1.333rem; }
.webticker-placeholder { padding-left: 3em; opacity: 0.3; }

main,
.sidebar { display: flex; flex-direction: column; padding: .809rem 1rem; justify-content: space-between; overflow-x: hidden; }

main { width: 61.81%; padding-right: .5rem; }

.sidebar { width: 38.19%; padding-left: .5rem; }

.board { width: 100%; }

.board * { width: 100%; }

.board-main { height: calc(100% - 2.427rem); overflow: hidden; position: relative; display: flex; flex-direction: column; justify-content: center; }

.board-time-and-logo { display: flex; }

.board-time-and-logo > div:not(.logo-wrap) { text-align: right; display: flex; flex-direction: column; margin-right: .5rem; }

.logo { width: 8rem; }
time { padding-right: 1rem; text-align: right; }
.date { font-size: .809rem; line-height: 1.0786rem; height: 1.0786rem; }
.current-time { font-size: 1.618rem; font-weight: 700; text-align: right; line-height: 2.1573rem; }

.fa { display: inline !important; }

.board-chat { min-height: 7rem; background-color: #a7ffeb; position: relative; overflow: hidden; }
.board-chat-frame { width: 100%; height: 100%; overflow: hidden; border: none; }

.chat-wrap { position: absolute; bottom: 0; }

.board-heading { margin: 0; font-size: 0.809rem; }

.track-data strong { font-size: 0.809rem; }

.yummies { height: auto; }

.board-main .message-wrap p { margin: .809rem 0; }

.board-weather { height: 3.236rem; }

.board-on-air { height: 1.618rem; white-space: nowrap; }

.weather-text { display: none; }

.weather-block { display: flex; align-items: center; height: 3.236rem; }

.weather-icon { width: 2.427rem; height: 2.427rem; padding-left: 1rem; }

.weather-temp:after { content: "°" }

.weather-temp { order: -1; font-size: 1.618rem; font-weight: 700; text-align: right; }

.weather-label { line-height: 1rem; font-size: .809rem; text-align: center; }



/*Стили погоды на ближайшие дни на основной доске*/
.board-main .forecast { display: flex; height: 90%; align-content: stretch; }

.board-main .forecast .day-row { display: flex; flex-direction: column; justify-content: space-around; height: 100%; background-color: #fafafa; margin: 0 2px; }

.forecast-wrap { height: 100%; }

.forecast-wrap .board-heading { line-height: 3.236rem; font-size: 1rem; text-transform: uppercase; text-align: center; color: #0091ea; }

.board-main .forecast .summary { height: 45%; display: flex; flex-direction: column; justify-content: space-between; }

.board-main .forecast .day-row img { width: 71%; }

.board-main .forecast .day,
.board-main .forecast .night { text-align: center; }

.board-main .forecast p,
.board-main .forecast .night,
.board-main .forecast h6 { display: none; }

.board-main .forecast p.conditions { display: block; text-align: center; }

.board-main .forecast .hidden.not-really-hidden { display: block !important; font-size: 1rem; line-height: .809rem; }

.board-main .forecast .day.hidden + .night { display: block; }

.board-main .forecast .pop,
.board-main .forecast .temps,
.board-main .forecast .date,
.board-main .forecast .weekday { display: block; text-align: center; }

.board-main .forecast .weekday { font-size: 1.33rem; }

.board-main .forecast .temps { font-size: 1.33rem; }

.board-main .forecast .temps .high { font-weight: 700; color: #ff1744; }
.board-main .forecast .temps .low { font-weight: 700; color: #03a9f4; }
.board-main .forecast .temps .split { opacity: .2; } 

.board-main .forecast .drop-icon::before { content: "💧"; opacity: .6; }
.board-main .forecast .pop:after { content: " осадков" }

/*Анимация погоды*/
/*.board-main .forecast .day-row,
.board-main .forecast .weekday,
.board-main .forecast .date,
.board-main .forecast .temps,
.board-main .forecast .pop,
.board-main .forecast img { transition: opacity .25s ease-in-out; opacity: 0; }

.board-main .forecast .day-row.show,
.board-main .forecast .show .weekday,
.board-main .forecast .show .date,
.board-main .forecast .show .temps,
.board-main .forecast .show .pop,
.board-main .forecast .show img { opacity: 1; }

.board-main .forecast .day-row { transition-delay: 0s; }
.board-main .forecast .weekday { transition-delay: .2s; }
.board-main .forecast .date { transition-delay: .4s; }
.board-main .forecast .temps { transition-delay: .6s; }
.board-main .forecast .pop { transition-delay: .8s; }
.board-main .forecast img { transition-delay: 1s; }*/


/* Стили для сообщений на основной доске */
.board-main .message-wrap { background-color: #f5f5f5; height: calc(100% - 3.236rem); padding: 1.618rem; width: calc(100% - 3.236rem); display: flex; flex-direction: column; justify-content: center; }

.board-main .message-wrap .board-heading { font-size: 1.333rem; text-align: center; }

.board-main .message-wrap .board-heading + * { margin-top: .809rem; }


/* Стили для блоков видео с youtube на основной доске */
.youtube-video { display: flex; flex-direction: column; height: 100%; justify-content: center; }

.youtube-video .board-heading { font-size: 1.333rem; margin-bottom: 0.809rem; }

.youtube-video iframe { width: 100%; height: 100%; }


/* Стили для объявлений на основной доске */
.board-main .shutter { background: linear-gradient(to top, rgba(255, 255, 255, 0), #ffffff); height: 3.236rem; position: absolute; z-index: 5; }

.board-main .ob-wrap { transition: transform linear; transition-delay: 0s; transform: translateY(0rem); }

.board-main .ob-wrap h2.board-heading { text-align: center; font-size: 1.333rem; margin-bottom: .809rem; }

.board-main .ob-wrap article.ob { background-color: #f5f5f5; margin-bottom: .809rem; }

.board-main article.ob figure { float: right; margin: 0 0 0 1rem; width: auto; }

.board-main article.ob figure .ob-thumb { width: 8.09rem; }

.board-main article.ob > a { text-decoration: none; color: #333; }

.board-main article.ob .ob-text-group { padding: 0.809rem 1rem; margin: 0; width: calc(100% - 2rem); }

.board-main article.ob .ob-meta { padding: 0 1rem 0.809rem; width: calc(100% - 2rem); color: #57346b; text-align: right; }

.board-main article.ob .ob-meta time { padding-right: 0; }

.board-main article.ob .ob-publish-date:before { content: ""; padding-right: 2px; display: inline-block; font-family: FontAwesome; text-align: center; width: 1.28571em; }

.board-main article.ob .ob-category-name { text-decoration: none; color: #57346b; }


/*Стили для бегущей строки*/
.tickercontainer a { color: #333; text-decoration: none; }

.tickercontainer p { margin: 0; }



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
